<div class="col-md-9">
    <h1>Hi {{firstName}}!</h1>
    <button type="button" class="btn btn-info" (click)="show = !show">Edit Details</button>

    <h3>Details:</h3>
    <!--before click-->
    <div *ngIf="!show">

        <div class="row">
            <div class="col-sm-3" style="text-align:right;">
                <label class="control-label" style="padding-top:0.5em;"> Username:</label>
            </div>
            <div class="col-sm-6">
                <p style="padding-top:0.5em;">{{username}}</p>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-3" style="text-align:right;">
                <label class="control-label" style="padding-top:0.5em;"> First name:</label>
            </div>
            <div class="col-sm-6">
                <p style="padding-top:0.5em;">{{firstName}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3" style="text-align:right;">
                <label class="control-label" style="padding-top:0.5em;"> Last name: </label>
            </div>
            <div class="col-sm-6">
                <p style="padding-top:0.5em;">{{lastName}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3" style="text-align:right;">
                <label class="control-label" style="padding-top:0.5em;"> Weight: </label>
            </div>
            <div class="col-sm-6">
                <p style="padding-top:0.5em;">{{weight}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3" style="text-align:right;">
                <label class="control-label" style="padding-top:0.5em;"> Height:</label>
            </div>
            <div class="col-sm-6">
                <p style="padding-top:0.5em;">{{height}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3" style="text-align:right;">
                <label class="control-label" style="padding-top:0.5em;">Age:</label>
            </div>
            <div class="col-sm-6">
                <p style="padding-top:0.5em;">{{age}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3" style="text-align:right;">
                <label class="control-label" style="padding-top:0.5em;"> Goal Weight:</label>
            </div>
            <div class="col-sm-6">
                <p style="padding-top:0.5em;"> {{goalWeight}}</p>
            </div>
        </div>

        <div class="row">
            <label class="control-label" style="padding-top:0.5em;"> Total amount of calories needed to maintain weight is : {{bmr}} </label>
        </div>
    </div>


    <!--after click-->
    <div *ngIf="show">

        <div class="row">
            <div class="col-sm-3" style="text-align:right;">
                <label class="control-label" style="padding-top:0.5em;"> Username: </label>
            </div>
            <div class="col-sm-6">
                <p style="padding-top:0.5em;">{{username}}</p>
            </div>
        </div>
        <!--<div class="form-group">-->
        <div class="row">
            <div class="col-sm-3" style="text-align:right;">
                <label class="control-label" style="padding-top:0.5em;"> First name: </label>
            </div>
            <div class="col-sm-6">
                <input [(ngModel)]="firstName" name="firstName" class="form-control" placeholder="{{firstName}}">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3" style="text-align:right;">
                <label class="control-label" style="padding-top:0.5em;"> Last name: </label>
            </div>
            <div class="col-sm-6">
                <input [(ngModel)]="lastName" name="lastName" class="form-control" placeholder="{{lastName}}">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3" style="text-align:right;">
                <label class="control-label" style="padding-top:0.5em;"> Weight: </label>
            </div>
            <div class="col-sm-6">
                <input [(ngModel)]="weight" name="weight" class="form-control" placeholder="{{weight}}">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3" style="text-align:right;">
                <label class="control-label" style="padding-top:0.5em;"> Height: </label>
            </div>
            <div class="col-sm-6">
                <input [(ngModel)]="height" name="height.height" class="form-control" placeholder="{{height}}">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3" style="text-align:right;">
                <label class="control-label" style="padding-top:0.5em;"> Age: </label>
            </div>
            <div class="col-sm-6">
                <input [(ngModel)]="age" name="age" class="form-control" placeholder="{{age}}">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3" style="text-align:right;">
                <label class="control-label" style="padding-top:0.5em;"> Goal Weight: </label>
            </div>
            <div class="col-sm-6">
                <input [(ngModel)]="goalWeight" name="goalWeight" class="form-control" placeholder="{{goalWeight}}">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">

            </div>
        </div>

        <div class="row">
            <label class="control-label" style="padding-top:0.5em;"> Total amount of calories needed to maintain weight is : {{bmr}} </label>
        </div>
        
        <button type="button" (click)="updateUser()" class="btn btn-primary" style="margin-top: 1em;">Save</button>

        <!--</div>-->

        <button [routerLink]="['/login']" (click)="deleteUser(currentUser.id)">Delete</button>

        <!--<h3>{{bmiCalc()}}</h3>-->

    </div>